/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*TEXT*/
.shield {
    color: #67d669;
}

.view {
    color: white;
}


.User {
    color: white;
}

footer ul li a {
    color: #a8a8a8;
    text-decoration: none;
    font-size: 14px;
}

/*BUTTONS*/
.recording {
    background-color: #111111;
    color: white;
    cursor: pointer;
}

.btn-red {
    color: white;
    background-color: #a8352e;
    border: none;
    padding: 5px 15px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
}

/*COMMONS*/

header {
    display: flex;
    height: 25px;
    background-color: #111111;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
}

main {
    background-color: black;
}

.container {
    width: 1260px;
    height: calc(100vh - 75px);
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 5px;
    padding-top: 20px;
}

.card {
    width: 180px;
    height: 100px;
    background-image: url("https://picsum.photos/180/100");
    position: relative;
    border-radius: 5px;
    justify-content: flex-start;

}

.name {
    background-color: #384146;
    color: #cc3c33;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

footer {
    height: 50px;
    color: #a8a8a8;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    padding: 0 10px;
}

.nav-left ul li,
.nav-center ul li {
    display: flex;
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}