/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*TEXT*/
.shield {
    color: #67d669;
}

.view {
    color: white;
}


.User {
    color: white;
}

/*BUTTONS*/
.recording {
    background-color: #111111;
    color: white;
    cursor: pointer;
}

/*COMMONS*/

header {
    display: flex;
    height: 25px;
    background-color: #111111;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
}

main {
    background-color: black;
}

.container {
    width: 1260px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.card {
    width: 200px;
    height: 120px;
    background-image: url("https://picsum.photos/200/120");
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.name {
    background-color: #384146;
    color: #cc3c33;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

/* prova push*/